.searchbtn{ 
    min-width: 5vw;
    height: 5vh;
    font-size: 2rem;
}

.postlinkbtn{ 
    min-width: 8vw;
    height: 5vh;
    font-size: 2rem;
    margin-left: 10vw;
}
.postbtn{
    min-width: 8vw;
    height: 5vh;
    font-size: 2rem;
    margin-top: 1vw;
}

.modifybtn{
    min-width: 5vw;
    height: 5vh;
    font-size: 2rem;
    float: right;
    margin-right: 1vw;
    margin-bottom: 1vw;

}