.contentsdiv {/*메뉴창 밑에부터 footer 전까지*/
    min-width: 80vw;
    min-height: 60vh;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    padding-bottom: 2rem;
    display: grid;  /*격자모양 디스플레이*/
    grid-template-columns: 1fr 1fr 1fr 1fr; /*가로축 4칸제한. 비율은 1:1:1:1*/
    box-sizing: border-box;
    background-color: gray;
}

.menusdiv {
    width: 100vw;
    height: 5vh;
    border: 5px black solid;
    background-color: yellow;
}

.partsdiv { /*contentsdiv에 들어가는 요소*/ 
    min-width:20vw;
    min-height:40vh;
    border:5px black solid;
    background-color: white;
    display: flex, grid;
}

.detailcontentsdiv{
    min-width: 80vw;
    min-height: 60vh;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    padding-bottom: 2rem;
    display: flex, grid;  /*격자모양 디스플레이*/
    grid-template-columns: 1fr 1fr 1fr; /*가로축 4칸제한. 비율은 1:1:1:1*/
    box-sizing: border-box;
    background-color: gray;
}